.vscode/
generate_prompts/__pycache__/
experiments/__pycache__/
evaluation/__pycache__/
experiments/legacy/
evaluation/legacy/
evaluation/debug.ipynb
human/examples/metadata.json
human/user_sheet_annotation/source_wise_claims/
human/user_sheet_annotation/story_wise_claims/
human/user_sheet_annotation/clean_user_sheet
human/user_sheet_annotation/organize_sheet.ipynb
human/user_sheet_annotation/temp_user_sheet.txt
human/legacy
traditional_evaluation/__pycache__
evaluation/slurm*
evaluation/llama70*.sh
human/
evaluation_legacy/
experiments/agents.py
experiments/methods_legacy.py
evaluation/metadata_batch_llm_evaluation_shuffle_score_llama70
evaluation/batch*.py
evaluation/batch*/
evaluation/extract_batch_output.py
evaluation/gpu*.log
evaluation/history_legacy/
evaluation/debug.py