.vscode/
generate_prompts/__pycache__/
experiments/__pycache__/
evaluation/__pycache__/
experiments/legacy/
evaluation/legacy/
evaluation/debug.ipynb
human/examples/metadata.json
human/user_sheet_annotation/source_wise_claims/
human/user_sheet_annotation/clean_user_sheet