.vscode/
generate_prompts/__pycache__/
experiments/__pycache__/
evaluation/__pycache__/
experiments/legacy/
evaluation/legacy/
evaluation/debug.ipynb
human/examples/metadata.json
human/procure_examples.py